<mat-drawer-container class="tm-container" autosize>
  <!-- SIDENAV -->
  <mat-drawer #drawer class="tm-sidenav" mode="side">
    <span class="tm-sidenav-open tm-sidenav-open-close vertical" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
    </span>
  </mat-drawer>

  <!-- CONTENT -->
  <div class="tm-sidenav-content">

    <mat-grid-list cols="2">
      <mat-grid-tile class="tm-intro">
        <div>
          <span class="uppercase d-block tm-name">Teddy MKH</span>
          <hr class="tm-hr"/>
          <span class="d-block tm-title">Developer Fullstack & Designer</span>
          <span class="d-block tm-title-from">Paris, France</span>
          <!-- <span class="d-block tm-subtitle">Available for work</span> -->
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- MENU -->
    <div class="tm-sidenav-content-fixed">
        <!-- LOGO -->
        <span class="tm-sidenav-logo tm-sidenav-open vertical" (click)="drawer.toggle()">
            <mat-icon class="white">dashboard</mat-icon>
        </span>

        <!-- MENU TOGGLE -->
        <span class="tm-sidenav-open vertical" (click)="drawer.toggle()">
            <mat-icon class="white">menu</mat-icon>
        </span>
    </div>
  </div>

</mat-drawer-container>
